alabaster==0.7.16
amqp==5.3.1
asgiref==3.9.1
asttokens==3.0.0
attrs==25.4.0
autobahn==24.4.2
Automat==25.4.16
babel==2.17.0
billiard==4.2.2
black==23.12.1
boto3==1.35.76
botocore==1.35.99
celery==5.3.4
certifi==2025.8.3
cffi==2.0.0
cfgv==3.4.0
channels==4.1.0
channels-redis==4.2.0
charset-normalizer==3.4.3
click==8.3.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
constantly==23.10.4
coverage==7.10.7
cryptography==46.0.2
daphne==4.1.2
decorator==4.4.2
distlib==0.4.0
dj-database-url==2.2.0
dj-rest-auth==7.0.1
Django==5.2.7
django-allauth==65.11.2
django-anymail==13.1
django-appconf==1.1.0
django-cors-headers==4.4.0
django-debug-toolbar==4.3.0
django-filter==24.3
django-graphql-jwt==0.4.0
django-imagekit==5.0.0
django-redis==5.4.0
django-storages==1.14.4
django-taggit==6.1.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
docutils==0.20.1
drf-nested-routers==0.94.0
execnet==2.1.1
executing==2.2.1
filelock==3.20.0
flake8==7.0.0
git-filter-repo==2.47.0
graphene==3.4.3
graphene-django==3.2.3
graphene-django-cud==0.13.0
graphene-file-upload==1.3.0
graphql-core==3.2.6
graphql-relay==3.2.0
hyperlink==21.0.0
identify==2.6.15
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
imagesize==1.4.1
incremental==24.7.2
iniconfig==2.1.0
ipython==8.20.0
isort==5.13.2
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.0.1
kombu==5.5.4
MarkupSafe==3.0.3
matplotlib-inline==0.1.7
mccabe==0.7.0
moto==4.2.14
moviepy==1.0.3
msgpack==1.1.2
mux_python==5.1.0
mypy==1.8.0
mypy_extensions==1.1.0
nodeenv==1.9.1
numpy==2.3.3
opencv-python==4.10.0.84
packaging==25.0
parso==0.8.5
pathspec==0.12.1
pilkit==3.0
pillow==10.4.0
platformdirs==4.5.0
pluggy==1.6.0
pre-commit==3.6.0
proglog==0.1.12
promise==2.3
prompt_toolkit==3.0.52
psutil==7.1.0
psycopg2-binary==2.9.11
pure_eval==0.2.3
py-partiql-parser==0.5.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycodestyle==2.11.1
pycparser==2.23
pyflakes==3.2.0
Pygments==2.19.2
PyJWT==2.10.1
pyOpenSSL==25.3.0
pytest==7.4.4
pytest-cov==4.1.0
pytest-django==4.8.0
pytest-mock==3.12.0
pytest-xdist==3.5.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
redis==5.0.1
requests==2.32.3
requests-mock==1.12.1
responses==0.24.1
s3transfer==0.10.4
service-identity==24.2.0
setuptools==80.9.0
six==1.17.0
snowballstemmer==3.0.1
Sphinx==7.2.6
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlparse==0.5.3
stack-data==0.6.3
text-unidecode==1.3
tqdm==4.67.1
traitlets==5.14.3
Twisted==25.5.0
txaio==25.9.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
vine==5.1.0
virtualenv==20.35.3
wcwidth==0.2.14
Werkzeug==3.1.3
whitenoise==6.11.0
xmltodict==1.0.2
zope.interface==8.0.1
gunicorn==21.2.0
